
.totals {
	text-align: center;
}
.row {
	width: 100%;
}
.col-md-3 {
	margin: 10px;
}
.coffee img {
	margin: 2rem;
}
.space {
	height: 5rem;
}
.validate {
	text-align: center;
}
.isnotvalid {
	background-color: red;
}
